
.header{
display: grid;
width: 100%;
grid-template-columns: repeat(5,1fr);

}
.line{
    width: 230px;
    color: green;
}
hr{
    background-color: green;
}
img{
    height: 180px;
    width: 180px;
}
.products{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap:40px ;
background-color: rgb(221, 189, 129);
padding-top: 30px;
height: 500px;
padding-left: 30px;
}
.number1{
   
    display: grid;
    grid-template-columns:0.1fr 0.2fr 1.5fr;
}
.accumulator{
    border: 1px solid black;
    height: 30px;
    width: 50px;
    float: left;
    background-color: white;
}
.num1{
background-color: green;
border-radius: 10px;
color: white;
text-align: center;
}
button{
    background-color: aqua;
   text-align: center;
   font-weight: bold;
   margin-top: 5px;
}
.bottom{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40px;
}
.fa{
    padding-left: 25px;
    position: fixed;
}
.productNum{
    color: red;
}
.colorChange{
    background-color: orange;
}